/*Reset base */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Navigation Styles */
.site-nav {
    background-color: #d1d0d0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.site-nav a:hover{
    text-decoration: underline;
    color:#f8f8f8
}

/* Main Content Styles */
main{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1.5rem;
    text-align: center;
}
a.remove-from-cart,
a.continue-shopping,
a.checkout-button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    margin: 1rem;
    color: #000000;
    text-align: center;
    text-decoration: none;
background-color: beige;
    border: 1px solid #333;
}

/* Background image for landing page styling */
.Landing-page-hero {
    background-image: url('../images/wes-andy/wes_andy_07.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.Landing-page-hero {
    
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.enter-shop-button {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 40px;
}
.enter-shop-button:hover {
    background-color: #f3f4f4;
    padding: .5rem;
    color: #000;
    
}

/* Footer Styles */
.site-footer {
    background-color: #f6f4f4;
    padding: 1rem;
    margin-top: 2rem;
    opacity: 0.2;
}
.site-footer p {
    margin: 0;
    color:#000;
    
}