/*Reset base */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Navigation Styles */
.site-nav {
    background-color: #d1d0d0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.site-nav a:hover{
    text-decoration: underline;
    color:#f8f8f8
}

/* Main Content Styles */
main{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1.5rem;
    text-align: center;
}
a.remove-from-cart,
a.continue-shopping,
a.checkout-button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    margin: 1rem;
    color: #000000;
    text-align: center;
    text-decoration: none;
background-color: beige;
    border: 1px solid #333;
}